<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="bExcellentConnectionString" connectionString="Data Source=67.212.173.62;Initial Catalog=kessaku_test; User ID=sa;Password=dBs@58" providerName="System.Data.SqlClient" />-->
    <!--<add name="bExcellentConnectionString" connectionString="Data Source=192.168.1.94;Initial Catalog=Bexcellent_New; User ID=sa;Password=sa@123" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=aspnet-bExcellent.Service-20130221122322;Integrated Security=SSPI" />-->
    <!--<add name="bExcellentConnectionString" connectionString="Data Source=192.168.1.81;Initial Catalog=Bexcellent_New; Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="bExcellentConnectionString" connectionString="Data Source=.;Initial Catalog=Bexcellent_New;" providerName="System.Data.SqlClient"  />-->
    <add name="bExcellentConnectionString" connectionString="Data Source=LAPTOP-EO7LTA8F\SQLEXPRESS;Initial Catalog=PSE_Live; User ID=sa;Password=sa@123!" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LogPattern" value="UserId,SessionId,Message,MethodName" />
    <add key="mailServer" value="172.17.32.15" />
    <add key="emailUserId" value="smtpuser" />
    <add key="emailPassword" value="@ccess!23" />

    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPUser" value="tillidtest@gmail.com" />
    <add key="SMTPPassword" value="prtillid@123" />
    <add key="adminMail" value="pr@pipe9consulting.com" />

    <add key="imageURL" value="http://partnerlead.adoptionroadmap.com" />
    <add key="fromEmail" value="support@pipe9consulting.com" />
    <add key="mailTo" value="pr@pipe9consulting.com" /> 
    <add key="MailId" value="pratheesh.krishnaa@gmail.com" />
    <add key="bccEmail" value="pr@pipe9consulting.com" />
    <add key="homeUrl" value="http://localhost:8055/" />
    <add key="baseUri" value="http://localhost:8055" />
    <add key="devPriorityCount" value="10" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" timeout="120">
      <providers>
        <add name="DefaultSessionProvider"  type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.serviceModel>
    <diagnostics>
    <messageLogging
         logEntireMessage="true"
         logMalformedMessages="true"
         logMessagesAtServiceLevel="true"
         logMessagesAtTransportLevel="true"
         maxMessagesToLog="3000"
         maxSizeOfMessageToLog="2000"/>
  </diagnostics>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <webHttpBinding>
        <binding name="LargeBuffer" closeTimeout="00:15:00" openTimeout="00:15:00" transferMode="Buffered" sendTimeout="00:15:00" allowCookies="false" maxBufferSize="20000000" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="104857600" maxStringContentLength="104857600" maxArrayLength="104857600" maxBytesPerRead="20000000" maxNameTableCharCount="20000000" />
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="Buffer" closeTimeout="00:15:00" openTimeout="00:15:00" transferMode="Buffered" sendTimeout="00:15:00" allowCookies="false" maxBufferSize="20000000" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="20000000" maxStringContentLength="20000000" maxArrayLength="20000000" maxBytesPerRead="20000000" maxNameTableCharCount="20000000" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service name="bExcellent.Service.FeedbackService" behaviorConfiguration="bExcellent.Service.bExcellenServiceBehaviors">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="LargeBuffer" contract="bExcellent.Service.FeedbackService" behaviorConfiguration="Web" />
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="Buffer" contract="bExcellent.Service.FeedbackService" />
      </service>
      <service name="bExcellent.Service.Common" behaviorConfiguration="bExcellent.Service.bExcellenServiceBehaviors">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="LargeBuffer" contract="bExcellent.Service.Common" behaviorConfiguration="Web" />
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="Buffer" contract="bExcellent.Service.Common" />
      </service>
      <service name="bExcellent.Service.Authentication" behaviorConfiguration="bExcellent.Service.bExcellenServiceBehaviors">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="LargeBuffer" contract="bExcellent.Service.Authentication" behaviorConfiguration="Web" />
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="Buffer" contract="bExcellent.Service.Authentication" />
      </service>
      <service name="bExcellent.Service.Signup" behaviorConfiguration="bExcellent.Service.bExcellenServiceBehaviors">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="LargeBuffer" contract="bExcellent.Service.Signup" behaviorConfiguration="Web" />
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="Buffer" contract="bExcellent.Service.Signup" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="bExcellent.Service.bExcellenServiceBehaviors">
          <dataContractSerializer maxItemsInObjectGraph="104857600" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="EventListener" type="System.Diagnostics.EventLogTraceListener" initializeData="BxcellentWcfLog" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>