<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="bExcellentConnectionString" connectionString="Data Source=LAPTOP-EO7LTA8F\SQLEXPRESS;Initial Catalog=Kessaku_Live; User ID=sa;Password=sa@123!" providerName="System.Data.SqlClient" />
    <!--<add name="bExcellentConnectionString" connectionString="Data Source=67.212.173.62;Initial Catalog=kessaku_test; User ID=sa;Password=dBs@58" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-bExcellent.Service-20130221122322;Integrated Security=SSPI" />
  </connectionStrings>
  <appSettings>
    <add key="hostingPrefix" value="http://demo.bexcellent.com" />
    <add key="mailServer" value="172.17.32.11" />
    <add key="emailUserId" value="smtpuser" />
    <add key="emailPassword" value="@ccess!23" />
    <add key="bccEmail" value="pr@pipe9consulting.com" />
    <add key="fromEmail" value="support@pipe9consulting.com" />
    <add key="mailTo" value="mosesrlz@gmail.com" />
    <add key="Emailingdays" value="pr@pipe9consulting.com" />
    <add key="mailTo1" value="mosesrlz@gmail.com" />
    <add key="HostingPrefix" value="http://demo.bexcellent.com" />
    <add key="yammerreturnurl" value="http://localhost:56362/yammer/getcode" />
    <add key="yammersecret" value="JRKPbH4wCgNgNXOwoyGBlhYABf8u1hh3vty8x4m0RO8" />
    <add key="yammerclientid" value="WdBSoFPomYrmWQZSNdjHZA" />
    <add key="devPriorityCount" value="10" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Common" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8052/Common.svc/soap" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_Common" contract="Common.Common"
        name="BasicHttpBinding_Common" />
    </client>
  </system.serviceModel>
</configuration>