<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="hostingPrefix" value="http://demo.bexcellent.com" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="bExcellentConnectionString" connectionString="Data Source=192.168.1.84;Initial Catalog=Bexcellent_New; User ID=sa;Password=sa@123" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-bExcellent.Service-20130221122322;Integrated Security=SSPI" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="EventListener" type="System.Diagnostics.EventLogTraceListener" initializeData="BxcellentLog" />
        <add name="TextEventListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="BxcellentLog.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>