.poe
{
background:url("../../../Images/KessakuImages/icons/poe-yellow.png") no-repeat;
background-size: 100% auto;
}
.selected .poe
{
background:url("../../../Images/KessakuImages/icons/poe.png") no-repeat;
background-size: 100% auto;
}
.cac
{
background:url("../../../Images/KessakuImages/icons/cloud-as-coach-yellow.png") no-repeat;
background-size: 100% auto;
}
.selected .cac
{
background:url("../../../Images/KessakuImages/icons/cloud-as-coach-white.png") no-repeat;
background-size: 100% auto;
}
.pr
{
background:url("../../../Images/KessakuImages/icons/pr-yellow.png") no-repeat;
background-size: 100% auto;
}
.selected .pr
{
background:url("../../../Images/KessakuImages/icons/pr-white.png") no-repeat;
background-size: 100% auto;
}
.ct
{
background:url("../../../Images/KessakuImages/icons/coaching-tool-yellow.png") no-repeat;
background-size: 100% auto;
}
.selected .ct
{
background:url("../../../Images/KessakuImages/icons/coaching-tool-white.png") no-repeat;
background-size: 100% auto;
}
.feedback
{
background:url("../../../Images/KessakuImages/icons/feedback-yellow.png") no-repeat;
background-size: 100% auto;
}
.selected .feedback
{
background:url("../../../Images/KessakuImages/icons/feedback-white.png") no-repeat;
background-size: 100% auto;
}
.connect
{
background:url("../../../Images/KessakuImages/icons/smart-connect-yellow.png") no-repeat;
background-size: 100% auto;
}
.selected .connect
{
background:url("../../../Images/KessakuImages/icons/smart-connect-white.png") no-repeat;
background-size: 100% auto;
}
.goal
{
background:url("../../../Images/KessakuImages/icons/goals-yellow.png") no-repeat;
background-size: 100% auto;
}
.selected .goal
{
background:url("../../../Images/KessakuImages/icons/goals-white.png") no-repeat;
background-size: 100% auto;
}
.recognition
{
background:url("../../../Images/KessakuImages/icons/recognition-yellow.png") no-repeat;
background-size: 100% auto;
}
.selected .recognition
{
background:url("../../../Images/KessakuImages/icons/recognition-white.png") no-repeat;
background-size: 100% auto;
}
.analytics
{
background:url("../../../Images/KessakuImages/icons/analytics-yellow.png") no-repeat;
background-size: 100% auto;
}
.selected .analytics
{
background:url("../../../Images/KessakuImages/icons/analytics-white.png") no-repeat;
background-size: 100% auto;
}
.rolex
{
background:url("../../../Images/KessakuImages/icons/rolex-yellow.png") no-repeat;
background-size: 100% auto;
}
.selected .rolex
{
background:url("../../../Images/KessakuImages/icons/rolex-white.png") no-repeat;
background-size: 100% auto;
}
.guides
{
background:url("../../../Images/KessakuImages/icons/guides-yellow.png") no-repeat;
background-size: 100% auto;
}
.selected .guides
{
background:url("../../../Images/KessakuImages/icons/guides-white.png") no-repeat;
background-size: 100% auto;
}
.coachingguide
{
background:url("../../../Images/KessakuImages/icons/coachingguide-yellow.png") no-repeat;
background-size: 100% auto;
}
.selected .coachingguide
{
background:url("../../../Images/KessakuImages/icons/coachingguide-white.png") no-repeat;
background-size: 100% auto;
}
.handbook
{
background:url("../../../Images/KessakuImages/icons/handbook-yellow.png") no-repeat;
background-size: 100% auto;
}
.selected .handbook
{
background:url("../../../Images/KessakuImages/icons/handbook-white.png") no-repeat;
background-size: 100% auto;
}
.playbook
{
background:url("../../../Images/KessakuImages/icons/sales-playbook-yellow.png") no-repeat;
background-size: 100% auto;
}
.selected .playbook
{
background:url("../../../Images/KessakuImages/icons/sales-playbook-white.png") no-repeat;
background-size: 100% auto;
}