.Welcome_wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    background: url(../../../Images/images/bodyBg-new1.jpg) repeat !important;
    font-family: Segoe UI;
    background-size: 100% 100% !important;
}


.welcomePhoto {
    display: none;
    float: left;
    position: relative;
    width: 22%;
}

    .welcomePhoto img {
        height: auto;
        width: 100%;
    }

    .welcomePhoto span {
        background: rgba(0,0,0,0.7);
        font-size: 150%;
        color: #fff;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 2% 0% 2.3% 0%;
        text-align: center;
        text-transform: uppercase;
    }




.welcomeContent {
    float: left;
    border: 1px solid #333;
    width: 100%;
    height: auto;
    padding: 1% 1%;
    position: relative;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
}



    .welcomeContent p {
        font-size: 120%;
        color: #000;
        font-weight: 400;
        margin-bottom: 3%;
        line-height: 1.4;
    }

    .welcomeContent h2 {
        font-size: 130%;
        line-height: 1.2;
        color: #000;
        font-weight: 700;
        margin: 1% 0 0 0;
    }


    .welcomeContent p b {
        font-size: 110%;
    }

    .welcomeContent ul {
        margin: .3% 0 1% 0;
        padding: 0;
    }

        .welcomeContent ul li {
            font-size: 120%;
            color: #000;
            line-height: 1.2;
            padding: 0 0 1% 2%;
            background: url(../../Images/start/pageBgHover.png) no-repeat top left;
            background-size: 15px 19px;
        }



    .welcomeContent a {
        background: #e0b001;
        border: 1px solid #000000;
        color: #000;
        text-align: center;
        padding: 1% 2% 1.2% 2%;
        float: right;
        font-size: 120%;
        font-weight: 600;
    }

        .welcomeContent a:hover {
            background: #000;
            border: 1px solid #e0b001;
            color: #e0b001;
        }

@media screen and (max-width: 3500px) and (min-width: 2600px) {
    .welcomeContent p {
        font-size: 180%;
    }

    .welcomeContent ul li {
        font-size: 180%;
    }

    .welcomeContent h2 {
        font-size: 200%;
    }

    .welcomeContent a {
        font-size: 200%;
    }
}

@media screen and (max-width: 1700px) and (min-width: 1001px) {

    .welcomeContent p {
        font-size: 100%;
    }

        .welcomeContent p b {
            font-size: 110%;
        }

    .welcomeContent ul li {
        font-size: 100%;
        padding: 0 0 1% 3%;
        background-size: 15px 15px;
    }


    .welcomeContent h2 {
        font-size: 110%;
    }

    .welcomeContent {
        padding: 1% 1.5% 1.5% 1.5%;
        margin-left: 2%;
    }
}
