.main {
    width: 100%;
    min-width: 1000px;
    max-width: 1920px;
    margin: 0 auto;
}

.placeholder h1, .placeholder h2 {
    text-align: center;
}

.placeholder h1 {
    padding: 0.8em 0 0.3em 0;
    font-size: 220%;
}

.placeholder h2 {
    padding: 0 0 0.5em 0;
    font-size: 120%;
}

/*.main
{
    width: 100%;
}*/

.header {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    background-size: 100% 100%;
    float: left;
    /*position: fixed;
    top: 0;
    left: 0;*/
    height: 4.8em;
}

.headerbdr {
    background: url("../../Images/KessakuImage/header-bdr.png") no-repeat bottom center;
    background-size: 100% 120%;
    float: left;
    width: 100%;
    height: 0.3em;
    position: fixed;
    top: 4.8em;
    z-index: 1;
}

.logo {
    width: 33%;
    float: left;
    margin: .3% 0;
}

    .logo img {
        width: 100%;
        height: auto;
        margin-top: 0%;
        position: relative;
        z-index: 99999999999;
    }

.navigation {
    float: right;
    /*width: 68%;*/
    width: 60%;
    margin: 2% 0;
}

.members {
    background: #e0b001;
    color: #fff !important;
    padding: 0.5em;
    border-radius: 0.2em;
}

    .members a {
        color: #fff !important;
    }

.navigation li {
    float: right;
    padding: 0 1.5%;
    position: relative;
}

    .navigation li ul {
        background: url(../../Images/KessakuImage/menuarrow.png) no-repeat top;
        position: absolute;
        border-radius: 3%;
        overflow: hidden;
        background-size: 7% auto;
        display: none;
        width: 14em;
        z-index: 9;
    }

.casc ul {
    margin-left: -40%;
}

.cs ul {
    margin-left: -40%;
}

.res ul {
    margin-left: -77%;
}

.navigation li li {
    background: url("../../Images/KessakuImage/arrow-light.png")#222327 no-repeat center right 0.3em;
    float: none;
    padding: 0.5em 2em 0.5em 0.5em;
    border-bottom: 1px solid #40444f;
}

    .navigation li li:first-child {
        margin-top: 7px;
        border-top-left-radius: 0.4em;
        border-top-right-radius: 0.4em;
    }

    .navigation li li:last-child {
        border: 0;
    }

    .navigation li li:hover {
        background: url("../../Images/KessakuImage/arrow-dark.png") #e0b001 no-repeat center right 0.3em;
        cursor: pointer;
    }

.navigation li:hover > ul {
    display: block;
}

.navigation li li a {
    color: #fff !important;
    display: block;
}

.active {
    color: #e0b001;
}

.deActive {
    color: #000 !important;
}

#footerMenu {
    position: relative;
}

#target {
    display: none;
    position: absolute;
    bottom: 2.3em;
    right: 1.5em;
    width: 10em;
    background: #222327;
}

    #target li {
        clear: both;
        float: none;
        padding: 0;
        width: 100%;
        border: 0;
        background: #222327;
        white-space: nowrap;
        height: 2.5em;
        line-height: 2.5em;
        cursor: pointer;
    }

        #target li span {
            float: left;
            width: 22%;
            height: 2.5em;
            background-size: 60% auto;
            background-position: center;
        }

        #target li p {
            float: left;
            width: 75%;
            padding-left: 2%;
        }

    #target .selected a {
        color: #fff;
    }

/************Home Page*****************/
.homebg {
    background: url("../../Images/KessakuImage/home-bg.jpg") no-repeat;
    background-size: 100% auto;
    width: 100%;
    float: left;
    padding-bottom: 36%;
    position: relative;
    /*margin-top: 5em;*/
}

.placeholder {
    clear: both;
    width: 90%;
    min-width: 1000px;
    max-width: 1920px;
    margin: 0 auto;
}

.midbar .placeholder p {
    color: #fff;
    font-size: 280%;
    text-align: center;
    width: 80%;
    margin: 0 auto 1.6em auto;
    font-weight: lighter;
}

.homecontent {
    float: left;
    width: 100%;
    margin: -2.5em 0 1em 0;
    position: relative;
}

    .homecontent img {
        width: 5%;
        padding: 1%;
        border-radius: 100%;
        background: #fff;
    }

    .homecontent p {
        text-align: center;
        padding: 0;
    }

.signupholder {
    width: 30%;
    margin: 0 auto;
}

.signupcontent {
    background: url("../../Images/KessakuImage/trans.png");
    float: left;
    padding: 0.5em 1em;
}

    .signupcontent p {
        color: #fff;
        text-align: center;
        margin: 1.5em 0 .5em 0;
        font-size: 130%;
    }

        .signupcontent p span {
            color: #e0b001;
            font-weight: lighter;
        }

.kessaku {
    font-weight: 500;
    font-size: 120%;
}

.txtbx {
    background: #fff;
    float: left;
    width: 67%;
    height: 2.4em;
    line-height: 2.4em;
    padding: 0;
    position: relative;
}

    .txtbx input {
        background: transparent;
        border: 0;
        color: #ccc;
        position: absolute;
        width: 95%;
        left: 5%;
        height: 98%;
        font-size: 90%;
    }

        .txtbx input::-ms-clear {
            display: none;
        }

.signup {
    background: #e0b001;
    padding: 0 0.5em;
    float: left;
    width: 28%;
    text-align: center;
    margin-left: 1px;
    height: 2.4em;
    line-height: 2.4em;
    position: relative;
    cursor: pointer;
}

.yammersignup {
    background: #66676b;
    float: left;
    width: 25%;
    text-align: center;
    margin-left: 1px;
    height: 2.4em;
    line-height: 2.4em;
    position: relative;
}

    .signup input, .yammersignup input {
        background: transparent;
        border: 0;
        color: #fff;
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-size: 90%;
        cursor: pointer;
    }

    .yammersignup p {
        text-align: center;
        font-size: 60%;
        margin: 0;
        position: absolute;
        bottom: 0.3em;
        height: 1em;
        line-height: 1em;
        width: 100%;
    }

.microsoft {
    float: right;
    margin: 1em 0 0 0;
    width: 40%;
}

    .microsoft p {
        color: #fff;
        font-size: 80%;
        width: 45%;
        float: left;
        margin: 0 0.5em 0 0;
        padding: 0;
    }

    .microsoft img {
        float: left;
        width: 50%;
    }

.midbar {
    position: absolute;
    width: 100%;
    bottom: 3em;
}

.divider {
    background: url(../../Images/KessakuImage/divider.png) no-repeat;
    background-size: 100% auto;
    clear: both;
    height: 0.8em;
}
/****************Home page End***********************/
.kcsbg {
    background: url("../../Images/KessakuImage/gradiant-light-bg.png") repeat-x;
    background-size: auto 127%;
    width: 100%;
    float: left;
}

.whitedroplet {
    background: url("../../Images/KessakuImage/white-bg.png") no-repeat;
    background-size: 30% auto;
    width: 100%;
    float: left;
}

.graydroplet {
    background: url("../../Images/KessakuImage/white-bg.png") no-repeat;
    background-size: 30% auto;
    width: 100%;
    float: left;
}

.fourcolumn {
    width: 70%;
    margin: 0.5em auto;
}

    .fourcolumn li {
        width: 23.5%;
        margin-right: 2%;
        margin-bottom: 2em;
        float: left;
        display: block;
        border-bottom-right-radius: 1.3em;
        background: #fff;
    }

        .fourcolumn li:last-child {
            margin: 0;
        }

        .fourcolumn li .top {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            background: #535758;
            position: relative;
        }

            .fourcolumn li .top:hover {
                background: #e0b001;
                cursor: pointer;
            }

            .fourcolumn li .top p {
                position: absolute;
                left: 0.8em;
                bottom: 0.8em;
                color: #fff;
                font-size: 150%;
                width: 85%;
            }

        .fourcolumn li .middle {
            padding: 0 1em 100% 1em;
            background: #fff;
            float: left;
            height: 0;
            margin: 0!important;
        }

        .fourcolumn li .seperate {
            height: 1px;
            width: 100%;
            clear: both;
            float: left;
            background: #fff !important;
        }

            .fourcolumn li .seperate span {
                background: #ccc;
                height: 1px;
                width: 85%;
                float: left;
                margin: 0 1em;
            }

        .fourcolumn li .middle p:last-child {
            padding-bottom: 0.5em;
        }

        .fourcolumn li .middle p {
            padding: 0.5em 0 0 0;
            /*font-size: 90%;*/
            font-size: 80%;
        }

        .fourcolumn li .bottom {
            position: relative;
            background: #fff !important;
            clear: both;
            /*border-bottom-right-radius: 2em;*/
            height: 0;
            padding-bottom: 27%;
        }

            .fourcolumn li .bottom:hover {
                cursor: pointer;
            }

                .fourcolumn li .bottom a, .fourcolumn li .bottom:hover a {
                    color: #535758;
                }

        .fourcolumn li .icon {
            position: absolute;
            top: 0;
            right: 0;
            width: 70%;
            height: 0;
            padding-bottom: 70%;
        }

        .fourcolumn li .bottom p {
            margin: 2em 1.5em;
            padding: 1em 0;
            font-size: 75%;
            width: 70%;
        }

.download, .demo, .more {
    position: absolute;
    bottom: 9%;
    right: 3%;
    background: url("../../Images/KessakuImage/download-gray.png") no-repeat;
    background-size: 100% 100%;
    width: 20%;
    height: 0;
    padding-bottom: 21.5%;
}

.demo {
    background: url("../../Images/KessakuImage/demo-gray.png") no-repeat;
    background-size: 100% 100%;
}

.more {
    background: url("../../Images/KessakuImage/more-gray.png") no-repeat;
    background-size: 100% 100%;
}

.selected .top {
    background: #e0b001 !important;
}

.select .download {
    background: url("../../Images/KessakuImage/download-yellow.png") no-repeat;
    background-size: 100% 100%;
}

.select .demo {
    background: url("../../Images/KessakuImage/demo-yellow.png") no-repeat;
    background-size: 100% 100%;
}

.select .more {
    background: url("../../Images/KessakuImage/more-yellow.png") no-repeat;
    background-size: 100% 100%;
}
/******Video************/
.videobg {
    background: url("../../Images/KessakuImage/video-bg.png");
    background-size: auto 100%;
    width: 100%;
    float: left;
    clear: both;
}

.videoscreen {
    background: url("../../Images/KessakuImage/video-screen.png") no-repeat top center;
    background-size: 100% auto;
    width: 46%;
    padding-bottom: 40%;
    margin: 1% auto 0 auto;
    position: relative;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 66%;
    margin: 2.5%;
    overflow: hidden;
}

    .video video {
        width: 100%;
        height: 100%;
    }

        .video video img {
            width: 25px !important;
            height: 25px !important;
        }

#videoImg {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/**************CACC*************/
.caccbg {
    background: #eeeeee;
    float: left;
}

.capability {
    background: url("../../Images/KessakuImage/capability.jpg") no-repeat bottom #eeeeee;
    background-size: auto 80%;
    float: left;
    width: 100%;
    height: 0;
    padding-bottom: 47%;
    overflow: hidden;
}

.capselectarea {
    position: relative;
    width: 60%;
    margin: 0 auto;
    height: 0;
    padding-bottom: 40%;
}

.poemask {
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 37%;
    height: 0;
    padding-bottom: 23%;
}

.fbmask {
    position: absolute;
    top: 30%;
    left: 0;
    width: 30%;
    height: 0;
    padding-bottom: 20%;
}

.stndmask {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 0;
    padding-bottom: 20%;
}

.connmask {
    position: absolute;
    top: 7%;
    right: 0;
    width: 40%;
    height: 0;
    padding-bottom: 13%;
}

.goalmask {
    position: absolute;
    top: 41%;
    right: 0;
    width: 35%;
    height: 0;
    padding-bottom: 12%;
}

.recmask {
    position: absolute;
    bottom: 8%;
    right: 0;
    width: 40%;
    height: 0;
    padding-bottom: 19%;
}

.sixcolumn {
    width: 100%;
}

    .sixcolumn li {
        width: 15%;
    }

        .sixcolumn li:first-child {
            margin-left: 9%;
        }

        .sixcolumn li .middle {
            padding: 0 1em 100% 1em;
        }
/************coaching toolkit****************/
.toolkit {
    background: #eeeeee;
    float: left;
    width: 100%;
}

    .toolkit h1 {
        padding: 1.5em 0 0.5em 0;
    }

.toolkitimg {
    position: relative;
    margin-bottom: 1.5em;
    float: left;
}

    .toolkitimg img {
        width: 100%;
        height: auto;
    }

.toolkcaption {
    position: absolute;
    width: 100%;
    bottom: 3em;
}

    .toolkcaption h2 {
        width: 60%;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        font-size: 230%;
    }

input::-ms-clear {
    display: none;
}

.fivecolumn {
    width: 80%;
}

    .fivecolumn li {
        width: 18%;
    }

        .fivecolumn li .middle {
            padding: 0 1em 127% 1em;
        }
/****************Contact Us*************/
.contact {
    background: url("../../Images/KessakuImage/divider1.png") no-repeat top #e0b001;
    background-size: 100% 1em;
    width: 100%;
    float: left;
    padding-bottom: 5%;
}

    .contact .placeholder h1 {
        color: #fff !important;
        padding: 0.3em 0 0.4em 0 !important;
    }

.addressbar {
    background: #e0b001;
    float: left;
    width: 100%;
    clear: both;
}

    .addressbar .placeholder li {
        width: 33%;
        float: left;
        color: #fff;
        padding-bottom: 1em;
        background: url("../../Images/KessakuImage/address-divider.png") no-repeat top 0 right 8%;
        background-size: auto 100%;
        height: 0;
        padding-bottom: 9.1%;
    }

        .addressbar .placeholder li:last-child {
            background: none;
        }

        .addressbar .placeholder li h5 {
            font-size: 200%;
            padding: 0.2em 0 0 0;
        }

        .addressbar .placeholder li p {
            font-size: 130%;
        }

.contactform {
    width: 100%;
    float: left;
    clear: both;
    background: url("../../Images/KessakuImage/contact-bg.jpg") no-repeat;
    background-size: 100% auto;
    height: 0;
    padding-bottom: 31.5em;
}

    .contactform .placeholder {
        width: 65%;
        min-width: 65%;
        margin: 3em auto 0 auto;
    }

    .contactform .txtbox {
        background: url("../../Images/KessakuImage/contact-txtbx.png") no-repeat left #fff;
        background-size: auto 100%;
        height: 3em;
        line-height: 3em;
        float: left;
        width: 48.5%;
        margin-right: 2.5%;
        margin-bottom: 1em;
        position: relative;
    }

        .contactform .txtbox input {
            position: absolute;
            width: 90%;
            height: 96%;
            border: 0;
            left: 5%;
            color: #333;
            font-family: Segoe UI;
            font-size: 100%;
        }

    .contactform .right {
        float: right;
        margin-right: 0;
    }

.errorText {
    color: #e51400 !important;
}


.msgbx {
    background: #fff;
    width: 96%;
    float: left;
    height: 7em;
    position: relative;
    padding: 2%;
}

    .msgbx textarea {
        position: absolute;
        width: 96%;
        height: 72%;
        resize: none;
        border: 0;
        font-family: Segoe UI;
        color: #666;
        font-size: 100%;
    }

.submit {
    width: auto;
    color: #fff;
    background: #222327;
    border: 2px solid #000;
    border-radius: 0.2em;
    float: right;
    margin-top: 1em;
    padding: 0 1.5em;
}

    .submit input {
        border: 0;
        background: transparent;
        color: #fff;
        padding: 0.8em;
        cursor: pointer;
        font-size: 100%;
        font-family: Segoe UI;
    }

    .submit:hover {
        background: #e0b001;
        border: 2px solid #cea201;
        cursor: pointer;
    }
/*****************Client******************/
.client {
    float: left;
    width: 100%;
    height: 0;
    padding-bottom: 43%;
    overflow: hidden;
}

.footer {
    background: #222327;
    width: 100%;
    float: left;
    clear: both;
    padding: 1em 0;
}

    .footer .left {
        float: left;
        width: 40%;
    }

        .footer .left li {
            color: #fff;
            float: left;
            padding-right: 1.5em;
        }

    .footer a {
        color: #fff;
    }

    .footer .right {
        float: right;
        width: 40%;
    }

        .footer .right li {
            float: right;
            padding: 0 1em;
            border-left: 1px solid #fff;
            color: #fff;
        }

            .footer .right li:last-child {
                border: 0;
            }

            .footer .right li:first-child {
                padding: 0 0 0 0.5em;
                border-left: 1px solid #e0b001;
                width: 4%;
            }

                .footer .right li:first-child img {
                    height: auto;
                    width: 100%;
                }

.clientthumnail {
    position: absolute;
    top: 27em;
    width: 25%;
    left: 19%;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #808080; /* change if the mask should have another color then white */
    opacity: 0.5;
    z-index: 99999999999998; /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: fixed;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-image: url(../../images/loading3.gif); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px; /* is width and height divided by two */
    z-index: 999999999999999;
}

.ContError {
    float: right;
    padding: 2.3em 2em;
    color: black;
}

.selected {
    background: #e0b001 !important;
}

@media screen and (min-width: 1360px) and (max-width: 1400px) {
    .logo {
        width: 40%;
        margin: .6% 0;
    }

    .navigation {
        width: 60% !important;
        margin-top: 2.3% !important;
    }
}

@media screen and (min-width: 1401px) and (max-width: 1500px) {
    .logo {
        width: 37%;
        margin: .8% 0;
    }

    .navigation {
        width: 61% !important;
        margin-top: 2.3% !important;
    }
}

@media screen and (min-width: 1501px) and (max-width: 1650px) {
    .logo {
        width: 39%;
        margin: .7% 0;
    }

    .navigation {
        width: 61% !important;
        margin-top: 2.3% !important;
    }
}

@media screen and (min-width: 1651px) and (max-width: 1700px) {
    .logo {
        width: 37%;
        margin: .6% 0;
    }
}

@media screen and (min-width: 1701px) and (max-width: 2000px) {
    .logo {
        width: 36%;
        margin: .5% 0;
    }


    .navigation {
        width: 61% !important;
        margin-top: 1.4% !important;
    }
}




@media screen and (min-width: 2001px) and (max-width: 2600px) {
    .logo {
        width: 36%;
        margin: .4% 0;
    }

    .navigation {
        width: 61% !important;
        margin-top: 1.9% !important;
    }
}






#button {
    margin: 1em;
}

.modal {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    display: none;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle;
    }

.modal__content {
    display: inline-block;
    vertical-align: middle;
    background: #000;
    max-width: 30%;
    max-height: 80%;
    text-align: left;
    position: relative;
    overflow: auto;
    padding: 1%;
    top: -8%;
}


.modal__close {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #e0b001;
    padding-right: 1%;
    font-weight: 600;
}

.modal__content P {
    color: #fff;
    padding: 1% 0;
}
