.videoarea
{
    width: 52%;
    height: 0;
    padding-bottom: 30%;
    background-size: auto 100%;
    float: left;
}

.videotop
{
    width: 100%;
    background: url("../../images/kessakuimage/video-top.png") no-repeat;
    background-size: 100% 100%;
    height: 3em;
}

.videobottom
{
    width: 100%;
    background: url("../../images/kessakuimage/video-bottom.png") no-repeat;
    background-size: 100% auto;
    height: 3em;
    clear: both;
}

.videocenter
{
    background: #fff;
    float: left;
    width: 87%;
    height: 0;
    padding-bottom: 53%;
    position: relative;
}

    .videocenter img
    {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .videocenter video
    {
        width: 100%;
        height: 100%;
        position: absolute;
    }

.videoleft
{
    width: 6.5%;
    background: url("../../images/kessakuimage/video-left.png") no-repeat;
    background-size: auto 100%;
    height: 0;
    padding-bottom: 53%;
    float: left;
}

.videoright
{
    width: 6.5%;
    background: url("../../images/kessakuimage/video-right.png") no-repeat right;
    background-size: auto 100%;
    height: 0;
    padding-bottom: 53%;
    float: right;
}

.subbg
{
    background: url("../../images/kessakuimage/inner-pg-bg.jpg") no-repeat;
    background-size: 100% auto;
    width: 100%;
    float: left;
    position: relative;
    height: 0;
    padding-bottom: 40%;
}

    .subbg .placeholder
    {
        clear: both;
        width: 90%;
        min-width: 1000px;
        max-width: 1920px;
        margin:0 auto;
    }

.cloudCol
{
    float: left;
    width: 100%;
    clear: both;
}

.videomid
{
    clear: both;
    width: 100%;
}

.videothumnails
{
    float: right;
    width: 45%;
    height: 2em;
}

    .videothumnails li
    {
        width: 31%;
        float: left;
        margin-right: 1%;
        margin-bottom: 1%;
        background: #d3d5d5;
        border: 1px solid #d3d5d5;
        height: 0;
        padding-bottom: 28%;
        border-bottom-right-radius: 1.1em;
        position: relative;
        cursor: pointer;
    }

.videoselected
{
   background: #e0b001 !important;
   border: 1px solid #e0b001 !important;
}

    .videoselected .play
    {
        
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../../images/kessakuimage/play-video-gray.png") no-repeat;
    background-size: 100% 100%;
    width: 20%;
    height: 0;
    padding-bottom: 30%;
    }

    .videoselected  span
    {
        color: #fff !important;
    }

.videothumnails li:hover
{
    background: #e0b001;
    border: 1px solid #e0b001;
}

    .videothumnails li:hover > p span
    {
        color: #fff;
    }

    .videothumnails li:hover > .play
    {
        background: url("../../images/kessakuimage/play-video-gray.png") no-repeat;
        background-size: 100% 100%;
    }

.videothumnails li p
{
    height: 3.5em;
    display: table;
    clear: both;
    width: 80%;
}

.videothumnails li span
{
    display: table-cell;
    vertical-align: middle;
    padding: 0 0.5em;
    color: #000;
    font-size: 80%;
}

.videothumnails li img
{
    width: 100%;
}



.play
{
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../../images/kessakuimage/play-video-yellow.png") no-repeat;
    background-size: 100% 100%;
    width: 20%;
    height: 0;
    padding-bottom: 30%;
}
