@font-face {
	font-family: "Segoe UI";
	src: url("segoe-ui.eot?");
	src: url("segoe-ui.eot?v=5.01#iefix")  
		format("eot"), url("segoe-ui.woff?v=5.01")
		format("woff"), url("segoe-ui.ttf?v=5.01")
		format("truetype"),
		url("segoe-ui.svg?5.01#webfont4UxFerZxv=")
		format("svg");
}