<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles/Pipe9FeedbackStyles/Common/reset.css" rel="stylesheet" />
    <link href="~/Styles/Pipe9FeedbackStyles/Common/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Styles/Pipe9FeedbackStyles/Common/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/Pipe9FeedbackStyles/Common/layout.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
</head>
<body>


    <div class="p9f_header">

        <a class="p9_logo" href="#">
            <img src="~/Images/Pipe9Feedback/Common/p9_logo.png" alt="Pipe9 Feedback Logo" />
        </a>


    </div>

    <div class="p9f_body">
        @RenderBody()
        @* @Scripts.Render("~/bundles/jquery")*@
        @RenderSection("scripts", required: false)

    </div>

    <div class="p9f_footer">

        <ul>
            <li>© 2017 PIPE9 Consulting 
            </li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Support</a></li>
        </ul>


    </div>
</body>
<script src="~/Scripts/Pipe9Feedback/Common/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/Pipe9Feedback/Common/jquery-ui.js"></script>
<script src="~/Scripts/Pipe9Feedback/Common/bootstrap.min.js"></script>

</html>
