/*------------------ Header ********************************/
body {
    margin: 0;
    padding: 0;
    background: url(../../images/images/bodyBg.png) repeat;
    font-family: Segoe UI;
}

.headerPart {
    margin: 0 !important;
}

.headerMenu {
    background: #fff;
    height: 100px;
    padding: 0 !important;
    border-bottom: 1px solid #b9babb;
}

.ui.inverted.menu {
    background: #fff;
    box-shadow: none;
}

    .ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) {
        color: #161010;
    }


.breadMenu {
    background: #f9f9f9;
    margin-bottom: 1.5%;
}

.breadcrumb {
    background: #f9f9f9;
    padding: .6% 1.5%;
}

    .breadcrumb a {
        color: #000 !important;
        font-weight: normal;
        font-size: 100%;
    }


* {
    margin: 0;
}

html, body {
    height: 100%;
}

.page-wrapper {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -45px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.footerPart, .page-wrap:after {
    height: 50px;
}


.clear {
    clear: both;
    margin: 0;
    padding: 0;
    position: absolute;
}

.pageholder {
    margin: 0% 1.5%;
    overflow: hidden;
}


/*------------------ Footer ********************************/

.footerPart {
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #b9babb;
}

.ui.menu .item {
    padding: 1.5% 1.5% 1.1% 1.5%;
}


.ui.menu {
    margin: 0 !important;
    height: 50px;
}




@media screen and (max-width: 3500px) and (min-width: 2800px) {

    .cacLogo img {
        width: 300px;
    }

    .headerMenu {
        height: 160px;
    }

    .ui.menu .item {
        padding: 1.2% 1.5% 1.1% 1.5%;
        font-size: 25px;
    }

    .footerPart, .page-wrap::after {
        height: 100px;
    }
}


@media screen and (max-width: 2800px) and (min-width: 2200px) {

    .ui.menu .item {
        padding: 1.2% 1.5% 1.1% 1.5%;
        font-size: 20px;
    }

    .cacLogo img {
        width: 18%;
    }

    .headerMenu {
        height: 120px;
    }
}

@media screen and (max-width: 2200px) and (min-width: 2001px) {
    .ui.menu .item {
        padding: 1% 1.5% 1% 1.5%;
        font-size: 18px;
    }
}


@media screen and (max-width: 2000px) and (min-width: 1701px) {
    .cacLogo img {
        width: 20% !important;
    }

    .footerPart, .page-wrap:after {
        height: 60px;
    }

    .ui.menu .item {
        padding: 1.7% 1.5% 1.4% 1.5%;
    }



    .ui.menu .item {
        padding: 1.2% 1.5% 1.2% 1.5%;
    }
}




@media screen and (max-width: 1700px) and (min-width: 1670px) {
    .cacIcon img {
        width: 14%;
    }

    .cacLogo img {
        width: 67%;
    }

    .headerMenu {
        height: 85px !important;
    }

    .site-footer {
        height: 50px;
    }

    .ui.menu .item {
        padding: 1.2% 1.5% 1% 1.5%;
    }

    .page-wrap {
        margin-bottom: -51px;
    }
}


@media screen and (max-width: 1669px) and (min-width: 1501px) {
    .cacIcon img {
        width: 15%;
    }

    .cacLogo img {
        width: 20%;
    }

    .headerMenu {
        height: 85px !important;
    }

    .site-footer {
        height: 50px;
    }

    .ui.menu .item {
        padding: 1.2% 1.5% 1% 1.5%;
    }

    .page-wrap {
        margin-bottom: -50px;
    }

        .site-footer, .page-wrap:after {
            height: 50px;
        }
}

@media screen and (max-width: 1500px) and (min-width: 1401px) {

    .cacIcon img {
        width: 18%;
    }

    .cacLogo img {
        width: 81%;
    }

    .headerMenu {
        height: 80px !important;
    }

    .site-footer {
        height: 50px;
    }

    .ui.menu .item {
        padding: 1.3% 1.5% 1.3% 1.5%;
    }

    .page-wrap {
        margin-bottom: -51px;
    }
}


@media screen and (max-width: 1400px) and (min-width: 1301px) {

    .cacIcon img {
        width: 13%;
    }

    .headerMenu {
        height: 80px !important;
    }

    .page-wrap {
        margin-bottom: -50px;
    }

    .site-footer {
        height: 50px;
    }

    .ui.menu .item {
        padding: 1.3% 1.5% 1.3% 1.5%;
    }

    .site-footer, .page-wrap::after {
        height: 34px;
    }
}

@media screen and (max-width: 1300px) and (min-width: 1201px) {

    .cacIcon img {
        width: 13%;
    }

    .cacLogo img {
        width: 20%;
    }

    .headerMenu {
        height: 65px !important;
    }

    .page-wrap {
        margin-bottom: -45px !important;
    }

        .site-footer, .page-wrap:after {
            height: 45px;
        }

    .ui.menu .item {
        padding: 1.4% 1.5% 1.4% 1.5%;
    }
}



@media screen and (max-width: 1200px) and (min-width: 1000px) {

    .cacIcon img {
        width: 18%;
    }

    .cacLogo img {
        width: 20%;
    }

    .headerMenu {
        height: 65px !important;
    }



    .ui.menu .item {
        padding: 1.8% 1.5% 1.8% 1.5%;
    }
}
/*KT Added*/
@media screen and (max-width: 1366px) and (min-width: 1024px) {
    .page-wrapper {
        min-height: 100%;
        margin-bottom: -38px;
    }

    .footerPart, .page-wrap:after {
        height: 50px;
    }
}
/*KT Added*/
