@{
    ViewBag.Title = "SelfFeedback";
}
<link href="~/Styles/Common/jquery.mCustomScrollbar.css" rel="stylesheet" />

<link href="~/Styles/self-product.css" rel="stylesheet" />
    <div class="sixteen wide column breadMenu">
        <div class="ui breadcrumb">
            <a href="../Common/Index">Home</a> <a>></a><a href="../Feedback/Feedback?Mode=1">Feedback</a> <a>></a><a> Self-Feedback</a>
        </div>
    </div>
 <div class="pageholder" id="dv" style="display: block;">
        <div class="customertiles" id="aboutContent">
            <h1>
                Give Feedback
            </h1>

            <ul class="poemodule">
               @* <img src="~/Images/icons/AzureInfraTsp-Product5h.png" />*@
                
                <li class="selected modImg1"><img src="~/Images/icons/AzureInfraTsp-Product1h.png" /><p>Microsoft Azure</p></li>
                <li class="modImg2"><img src="~/Images/icons/AzureInfraTsp-Product2.png" /><p>Security</p></li>
                <li class="modImg3"><img src="~/Images/icons/AzureInfraTsp-Product3.png" /><p>Operations &amp; Management </p></li>
                <li class="modImg4"><img src="~/Images/icons/AzureInfraTsp-Product4.png" /><p>Developer Tools</p></li>
                <li class="modImg5"><img src="~/Images/icons/AzureInfraTsp-Product5.png" /><p>Debugging and Performance</p></li>
               @* <li><img src="../Images/icons/SolutionSalesSpecialist6.png"><p>Continuous Learning and Professional Growth</p></li>*@
            </ul>


        </div>
        <h1 id="poemoduleName">Planning</h1>

        <div class="contentholder">
            <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px; height: 400px; overflow: hidden; visibility: hidden;">
                <!-- Loading Screen -->
                <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                    <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                </div>
                <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 800px; height: 400px; overflow: hidden;">
                    <div data-p="112.50" style="display: none;" id="module1">
                        <div class="content_progress mCustomScrollbar">
                            <h3 class="producttitle">Product Feature <span>- For each Product Component below, rate your level of Proficiency</span></h3>
                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Azure Active Directory</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Azure Active Directory</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">2</p><p class="moduleqncontent">Azure Active Directory</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Azure IoT Suite</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Azure IoT Suite</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Azure Notification Hubs</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Notification Hub</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>


                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Azure Portal</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Administration</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">2</p><p class="moduleqncontent">PowerShell</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>


                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Azure Security Center</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Security Center</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Azure Service Bus</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Azure Service Bus</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>


                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Compute</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Azure Container Service</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">2</p><p class="moduleqncontent">Batch</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">3</p><p class="moduleqncontent">Virtual Machine Scale Sets</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">4</p><p class="moduleqncontent">Virtual Machines</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">5</p><p class="moduleqncontent">Azure App Service</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">6</p><p class="moduleqncontent">Cloud Services</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">7</p><p class="moduleqncontent">Service Fabric</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Cortana Intelligence Suite</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Cortana Intelligence</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Databases</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Redis Cache</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">2</p><p class="moduleqncontent">Document DB</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">3</p><p class="moduleqncontent">SQL Database</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Networking</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Application Gateway</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">2</p><p class="moduleqncontent">ExpressRoute</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">3</p><p class="moduleqncontent">Virtual Network</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>


                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Operations Management Suite</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Azure Backup</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">2</p><p class="moduleqncontent">Azure Site Recovery</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">3</p><p class="moduleqncontent">Operations Management Suite</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Storage</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Storage Accounts</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">2</p><p class="moduleqncontent">StorSimple</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">3</p><p class="moduleqncontent">Blob</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">4</p><p class="moduleqncontent">Table Storage</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>



                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Developer Tools</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Azure Tools for Visual Studio</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">2</p><p class="moduleqncontent">Command Line Tools</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">3</p><p class="moduleqncontent">Docker Tools</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <img src="~/Images/Product/cap_icon.png" />
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>



                            </div>

                        </div>





                    </div>

                    <div data-p="112.50" style="display: none;" id="module2">
                        <div class="content_progress mCustomScrollbar">
                            <h3 class="producttitle">Product Feature <span>- For each Product Component below, rate your level of Proficiency</span></h3>
                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Azure Rights Management</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Maintenance</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">2</p><p class="moduleqncontent">Configuration</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Operations Management Suite</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Advanced Threat Analytics (ATA) Center</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">2</p><p class="moduleqncontent">Installation/Configuration</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div data-p="112.50" style="display: none;" id="module3">
                        <div class="content_progress mCustomScrollbar">
                            <h3 class="producttitle">Product Feature <span>- For each Product Component below, rate your level of Proficiency</span></h3>
                            

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Operations Management Suite</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Installation by not Using System Center Operations Manager</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>



                                 <div class="moduleqn">
                                    <p class="qn">2</p><p class="moduleqncontent">Installation by Using System Center Operations Manager</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">3</p><p class="moduleqncontent">Non Operations Manager Integrated</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">4</p><p class="moduleqncontent">System Center Operations Manager Integrated</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-p="112.50" style="display: none;" id="module4">
                        <div class="content_progress mCustomScrollbar">
                            <h3 class="producttitle">Product Feature <span>- For each Product Component below, rate your level of Proficiency</span></h3>
                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Team Foundation Server</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Team Foundation Server</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                              
                            </div>
                        </div>
                    </div>


                    <div data-p="112.50" style="display: none;" id="module5">
                        <div class="content_progress mCustomScrollbar">
                            <h3 class="producttitle">Product Feature <span>- For each Product Component below, rate your level of Proficiency</span></h3>
                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Debugger</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Client Side Application Tools</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">1</p><p class="moduleqncontent">Web Tools</p>
                                </div>
                                <div class="qnscale">
                                    <div class="freqicon"><img src="~/Images/Product/cap_icon.png" /></div>
                                    <div class="freqscale_bg" data-answer="0">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                     <div data-p="112.50" style="display: none;" id="signpage">
                       <h2>sign page</h2>
                    </div>
                     <div data-p="112.50" style="display: none;" id="emptyfrloop">
                       
                    </div>
                    <a data-u="add" href="http://www.jssor.com" style="display:none">Jssor Slider</a>
                </div>
                <div data-u="navigator" class="jssorb01" style="bottom:16px;right:16px;" data-autocenter="1">
                    <div data-u="prototype" style="width:12px;height:12px;"></div>
                </div>
          @*      data-u="arrowleft"
                data-u="arrowright"*@
                <span  class="jssora13l jssorCom" style="top:0px;left:30px;width:40px;height:50px;" data-autocenter="2"></span>
                <span  class="jssora13r jssorCom" style="top:0px;right:30px;width:40px;height:50px;" data-autocenter="2"></span>
            </div>
         
        </div>
    </div>







@section scripts{
    <script src="~/Scripts/ref/Common/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/ref/Common/jssor.slider.min.js"></script>
    <script src="~/Scripts/ref/Common/jquery.mCustomScrollbar.js"></script>
    <script src="~/Scripts/ref/TechnicalFeedback/SelfFeedback.js"></script> 
    }