<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="bExcellent.Service.DataAccess.Properties.Settings.Bexcellent_NewConnectionString1"
      connectionString="Data Source=192.168.1.84;Initial Catalog=Bexcellent_Public_DImportTest;User ID=sa;Password=sa@123"
      providerName="System.Data.SqlClient" />
    <add name="bExcellent.Service.DataAccess.Properties.Settings.Bexcellent_NewConnectionString"
      connectionString="Data Source=.;Initial Catalog=Bexcellent_Public_DImportTest;User ID=sa;Password=sa@123"
      providerName="System.Data.SqlClient" />
    <add name="bExcellent.Service.DataAccess.Properties.Settings.Bexcellent_NewConnectionString2"
      connectionString="Data Source=.;Initial Catalog=Bexcellent_New;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="bExcellent.Service.DataAccess.Properties.Settings.Bexcellent_NewConnectionString3"
      connectionString="Data Source=.;Initial Catalog=Bexcellent_New;User ID=sa;Password=sa@123"
      providerName="System.Data.SqlClient" />
    <add name="bExcellent.Service.DataAccess.Properties.Settings.Bexcellent_NewConnectionString4"
      connectionString="Data Source=192.168.1.84;Initial Catalog=Bexcellent_New;User ID=sa;Password=sa@123"
      providerName="System.Data.SqlClient" />
    <add name="bExcellent.Service.DataAccess.Properties.Settings.Bexcellent_NewConnectionString5"
      connectionString="Data Source=192.168.1.98;Initial Catalog=Bexcellent_New;User ID=sa;Password=sa@123"
      providerName="System.Data.SqlClient" />
    <add name="bExcellent.Service.DataAccess.Properties.Settings.KessakuConnectionString"
      connectionString="Data Source=LAPTOP-EO7LTA8F\SQLEXPRESS;Initial Catalog=Kessaku;User ID=sa;Password=sa@123!"
      providerName="System.Data.SqlClient" />
    <add name="bExcellent.Service.DataAccess.Properties.Settings.Kessaku_DemoConnectionString"
      connectionString="Data Source=LAPTOP-EO7LTA8F\SQLEXPRESS;Initial Catalog=Kessaku_Demo;User ID=sa;Password=sa@123!"
      providerName="System.Data.SqlClient" />
    <add name="bExcellent.Service.DataAccess.Properties.Settings.PSE_LiveConnectionString"
      connectionString="Data Source=LAPTOP-EO7LTA8F\SQLEXPRESS;Initial Catalog=PSE_Live;User ID=sa;Password=sa@123!"
      providerName="System.Data.SqlClient" />
    <add name="bExcellent.Service.DataAccess.Properties.Settings.Kessaku_LiveConnectionString"
      connectionString="Data Source=LAPTOP-EO7LTA8F\SQLEXPRESS;Initial Catalog=Kessaku_Live;User ID=sa;Password=sa@123!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>