/*------------------ Header ********************************/
body{margin:0; padding:0; background:url(../images/bodyBg.png) repeat; font-family: Segoe UI;}
.headerPart{ margin:0 !important; }
.headerMenu{ background:#000; height:100px; padding:0 !important;}

.breadMenu{ margin:1.5% 1.5% .5% 1.5% !important; background:#fff; padding:10px 15px;}
.breadMenu a{ color:#333 !important; font-weight:normal; font-size:100%;}





* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -80px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 80px; 
}
.site-footer {
  background: #333;
}

.clear{ clear:both; margin:0; padding:0;}



/*------------------ Footer ********************************/

.footerPart{ background:#111111; height:80px; position: absolute;   left: 0;   bottom: 0;   width: 100%; }
.ui.menu .item{ padding:1.5% 1.5% 1.1% 1.5%;}















@media screen and (max-width: 2600px) and (min-width: 2170px){

.breadMenu{ margin:2% 2.5% .5% 2.5% !important;}
}


@media screen and (max-width: 2169px) and (min-width: 2001px) {
.breadMenu{ margin:2% 1.5% .5% 1.5% !important;}
.ui.menu .item{ padding:1.7% 1.5% 1.4% 1.5%;}
.page-wrap{ margin-bottom: -80px; }

}


@media screen and (max-width: 2000px) and (min-width: 1701px){

.breadMenu{ margin:2% 1.5% .5% 1.5% !important;}
.ui.menu .item{ padding:1.7% 1.5% 1.4% 1.5%;}
.site-footer{height:60px;}
.ui.menu .item{ padding:1.2% 1.5% 1.2% 1.5%;}
.page-wrap{ margin-bottom: -60px; }

}




@media screen and (max-width: 1700px) and (min-width: 1670px){
.cacIcon img { width:14%;}
.cacLogo img { width:67%;}
.headerMenu{height:85px !important; }
.site-footer{height:50px;}
.ui.menu .item{ padding:1.2% 1.5% 1% 1.5%;}
.page-wrap{ margin-bottom: -51px; }



}


@media screen and (max-width: 1669px) and (min-width: 1501px){
.cacIcon img { width:15%;}
.cacLogo img { width:71%;}
.headerMenu{height:85px !important; }
.site-footer{height:50px;}
.ui.menu .item{ padding:1.2% 1.5% 1% 1.5%;}
.page-wrap{ margin-bottom: -50px; }
.site-footer, .page-wrap:after{ height:50px;}
}

@media screen and (max-width: 1500px) and (min-width: 1401px){

.cacIcon img { width:18%;}
.cacLogo img { width:81%;}
.headerMenu{height:95px !important; }
.site-footer{height:50px;}
.ui.menu .item{ padding:1.3% 1.5% 1.3% 1.5%;}
.page-wrap{ margin-bottom: -51px; }

}


@media screen and (max-width: 1400px) and (min-width: 1301px){

.cacIcon img { width:13%;}
.cacLogo img { width:63%;}
.headerMenu{height:65px !important; }
.page-wrap{ margin-bottom: -50px; }
.site-footer{height:50px;}
.ui.menu .item{ padding:1.3% 1.5% 1.3% 1.5%;}

}

@media screen and (max-width: 1300px) and (min-width: 1201px){

.cacIcon img { width:13%;}
.cacLogo img { width:63%;}
.headerMenu{height:65px !important; }
.page-wrap{ margin-bottom: -45px !important; }
.site-footer, .page-wrap:after{height:45px;}
.ui.menu .item{ padding:1.2% 1.5% 1.2% 1.5%;}
.breadMenu{ margin:1% 1.5% .5% 1.5% !important;}
}



@media screen and (max-width: 1200px) and (min-width: 1000px){

.cacIcon img { width:18%;}
.cacLogo img { width:81%;}
.headerMenu{height:65px !important; }
.site-footer{height:45px;}
.ui.menu .item{ padding:1.4% 1.5% 1.4% 1.5%;}
.breadMenu{ margin:-.8% 1.5% .5% 1.5% !important;}
}