/* jssor slider bullet navigator skin 01 css */
/*
        .jssorb01 div           (normal)
        .jssorb01 div:hover     (normal mouseover)
        .jssorb01 .av           (active)
        .jssorb01 .av:hover     (active mouseover)
        .jssorb01 .dn           (mousedown)
        */
.jssorb01 {
    position: absolute;
    display: none;
}

    .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
        position: absolute;
        /* size of bullet elment */
        width: 12px;
        height: 12px;
        filter: alpha(opacity=70);
        opacity: .7;
        overflow: hidden;
        cursor: pointer;
        border: #000 1px solid;
    }

    .jssorb01 div {
        background-color: gray;
    }

        .jssorb01 div:hover, .jssorb01 .av:hover {
            background-color: #d3d3d3;
        }

    .jssorb01 .av {
        background-color: #fff;
    }

    .jssorb01 .dn, .jssorb01 .dn:hover {
        background-color: #555555;
    }

/* jssor slider arrow navigator skin 13 css */
/*
        .jssora13l                  (normal)
        .jssora13r                  (normal)
        .jssora13l:hover            (normal mouseover)
        .jssora13r:hover            (normal mouseover)
        .jssora13l.jssora13ldn      (mousedown)
        .jssora13r.jssora13rdn      (mousedown)
        */

.jssora13l {
    display: block;
    position: absolute;
    width: 45px;
    height: 70px;
    cursor: pointer;
    background: url("../../Images/images/preIcon.png") no-repeat left center;
    background-size: 100% 100%;
    overflow: hidden;
}

.jssora13r {
    display: block;
    position: absolute;
    width: 45px;
    height: 70px;
    cursor: pointer;
    background: url("../../Images/images/nextIcon.png") no-repeat right center;
    background-size: 100% 100%;
    overflow: hidden;
}

.jssora13l:hover {
    background: url("../../Images/images/preIconHover.png") no-repeat left center;
    background-size: 100% 100%;
}

.jssora13r:hover {
    background: url("../../Images/images/nextIconHover.png") no-repeat right center;
    background-size: 100% 100%;
}

.mCSB_scrollTools .mCSB_draggerRail {
    display: none;
}


.mCSB_inside > .mCSB_container {
    margin-right: 15px;
}


.leftPageJssor {
    left: 8% !important;
    opacity: 0.15;
}


.currentPageJssor {
    left: 13% !important;
}

.nextPageJssor {
    left: 12% !important;
    opacity: 0.15;
}



/******************************************/
.content_progress {
    height: 400px;
}


.currentPageJssor .content_progress {
    width: 90%;
}

body {
    font-family: 'Cuprum', sans-serif !important;
}

.customertiles h1 {
    padding: 0;
    color: #000;
    text-transform: uppercase;
}

.customertiles {
    float: left;
    width: 18.5%;
    margin-right: 4.5%;
    position: relative;
}

.supqnscaleset {
    margin-bottom: 1%;
    float: left;
    width: 100%;
}


.poemodule {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

    .poemodule li {
        width: 46%;
        height: 0px;
        padding-bottom: 44%;
        position: relative;
        margin-bottom: 3%;
        cursor: pointer;
        list-style: none;
        float: left;
        background: #fff;
        margin-right: 3%;
        border: 1px solid #666;
    }

.selected {
    border: 1px solid #23a1a7 !important;
}

    .selected p {
        color: #23a1a7 !important;
    }

.poemodule li img {
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    width: 40%;
}

.poemodule p {
    color: #666;
    position: absolute;
    bottom: 5%;
    left: 7%;
    font-size: 100%;
    width: 80%;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.1;
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    font-size: 150%;
}

#poemoduleName {
    float: left;
}

.contentholder {
    float: left;
    background: rgba(255, 255, 255, 0.9);
    width: 77%;
    margin: 0;
    border: 1px solid #333;
    margin-top: 0%;
    padding: 1% 0;
    position: relative;
    overflow: hidden;
}

.pageholder {
    padding: 0 2%;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.producttitle {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 600;
    float: left;
    width: 77%;
}

    .producttitle span {
        font-size: 75%;
        text-transform: none;
    }

.productsubtitle {
    margin: 0;
    padding: 0;
    font-size: 110%;
    font-weight: 600;
    color: #eb4329;
    float: left;
    width: 100%;
}

.moduleqn {
    margin: 0;
    padding: 0;
    font-size: 100%;
    clear: both;
}

.qnscale {
    clear: both;
    padding: 0 0 0 4.3%;
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 1%;
}

.moduleqn .qn {
    float: left;
    width: 3%;
    background: #fff;
    border: 1px solid #999;
    color: #2666ea;
    padding: 0.3% 0 0 0;
    text-align: center;
    margin: 0;
}


.moduleqn .moduleqncontent {
    float: left;
    width: 91%;
    color: #000;
    padding: 0.3% 1% 0 1%;
    margin: 0;
}


.freqicon {
    float: left;
    width: 6%;
    margin-right: 2%;
}

    .freqicon img {
        width: 100%;
    }

.freqscale_bg {
    width: 98%;
    height: 34px;
    margin: 0;
    padding: 0;
    background: url("../../Images/Product/rate_slidebg.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    float: left;
}

.freqscale_over {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    z-index: 99;
    position: relative;
}

.freqscale_bg button {
    cursor: pointer;
    height: 34px;
    outline: none;
    color: #333;
    text-align: left;
    padding-left: 1.5%;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 100%;
    line-height: 1;
    padding-top: 2px;
    font-family: 'Cuprum', sans-serif;
}

.freqadddiv {
    height: 34px;
}



.freqbtn1 {
    width: 25%;
    padding: 0;
    margin: 0;
    background: rgba(0,0,0,0.0);
    border: 0;
    float: left;
    z-index: 99;
    border-right: 1px solid rgba(255, 255, 255, .2);
}

.freqbtn2 {
    width: 25%;
    padding: 0;
    margin: 0;
    background: rgba(0,0,0,0.0);
    border: 0;
    float: left;
    z-index: 99;
    border-right: 1px solid rgba(255, 255, 255, .2);
}

.freqbtn3 {
    width: 25%;
    padding: 0;
    background: rgba(0,0,0,0.0);
    border: 0;
    margin: 0;
    float: left;
    z-index: 99;
    border-right: 1px solid rgba(255, 255, 255, .2);
}

.freqbtn4 {
    width: 25%;
    padding: 0;
    margin: 0;
    background: rgba(0,0,0,0.0);
    border: 0;
    float: left;
    z-index: 99;
}

.freqscaleover1 {
    width: 25%;
    position: absolute;
    float: left;
    background: #f7b4ab; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, #c6d7fa, #2566ea); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( 90deg, #c6d7fa, #2566ea); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #c6d7fa, #2566ea); /* For Firefox 3.6 to 15 */
    background: linear-gradient( 90deg, #c6d7fa, #2566ea); /* Standard syntax */
    color: #fff !important;
}

.freqscaleover2 {
    background: #f7b4ab; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, #c6d7fa, #2566ea); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( 90deg, #c6d7fa, #2566ea); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #c6d7fa, #2566ea); /* For Firefox 3.6 to 15 */
    background: linear-gradient( 90deg, #c6d7fa, #2566ea); /* Standard syntax */
    width: 50%;
    position: absolute;
    float: left;
}

.freqscaleover3 {
    background: #f7b4ab; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, #c6d7fa, #2566ea); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( 90deg, #c6d7fa, #2566ea); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #c6d7fa, #2566ea); /* For Firefox 3.6 to 15 */
    background: linear-gradient( 90deg, #c6d7fa, #2566ea); /* Standard syntax */
    width: 75%;
    position: absolute;
    float: left;
}

.freqscaleover4 {
    background: #f7b4ab; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, #c6d7fa, #2566ea); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( 90deg, #c6d7fa, #2566ea); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #c6d7fa, #2566ea); /* For Firefox 3.6 to 15 */
    background: linear-gradient( 90deg, #c6d7fa, #2566ea); /* Standard syntax */
    width: 100%;
    position: absolute;
    float: left;
}

.freqscale_handle {
    width: 10px;
    left: -7px;
    background: url("../../Images/Product/slider-handle3.png") no-repeat scroll 40% 50% transparent !important;
    height: 34px;
    position: absolute;
    z-index: 99;
    cursor: pointer;
}

.freqscale_handle1 {
    left: 23.5%;
}

.freqscale_handle2 {
    left: 48.5%;
}

.freqscale_handle3 {
    left: 73.5%;
}

.freqscale_handle4 {
    left: auto !important;
    right: 0;
}


.addcolor {
    color: #fff !important;
}


.signarea {
    border: 1px solid #666;
    width: 90%;
    margin: 2%;
    padding: 2%;
    float: left;
    height: auto;
}

    .signarea h1 {
        font-size: 150%;
        margin: .5% 0 0 0;
        color: #000;
        font-weight: 500;
    }

    .signarea p {
        font-size: 100%;
        margin: .5% 0 0 0;
        color: #000;
        line-height: 1.5;
    }

        .signarea p b {
            color: #000;
            font-size: 120%;
        }

    .signarea input {
        border: 1px solid #000;
        background: #fff;
        color: #000;
        padding: .5%;
    }

    .signarea a {
        background: #fff;
        text-decoration: none;
        border: 1px solid #249fa4;
        font-size: 130%;
        padding: .5% 2%;
        color: #249fa4;
        cursor: pointer;
        float: right;
    }

    .signarea a {
        color: #fff;
        border: 1px solid #148f95;
        background: #23a1a7;
        background: -o-linear-gradient(#36c2c9, #23a1a7);
        background: -moz-linear-gradient(#36c2c9, #23a1a7);
        background: linear-gradient(#36c2c9, #23a1a7);
        text-decoration: none;
        font-size: 130%;
        padding: .5% 2%;
        cursor: pointer;
        float: right;
    }

        .signarea a:hover {
            color: #23a1a7;
            border: 1px solid #148f95;
            background: #fff;
        }



.capabilityDef {
    width: 100%;
    float: left;
    padding: 2%;
    display: none;
}

    .capabilityDef h2 {
        font-size: 130%;
        padding: 0;
        color: #333;
        font-weight: 500;
        margin: 0 2% 0 0;
        line-height: 1;
        border-bottom: 1px solid #666;
        text-transform: uppercase;
    }



.scale_dfn {
    width: 50%;
    float: left;
    padding-bottom: 0.5%;
    padding-top: 1.5%;
}

.scale_img {
    float: left;
    width: 15%;
}

.scale_cnt {
    float: left;
    width: 85%;
}

.scale_img img {
    width: 90%;
}

.scale_cnt h3 {
    text-transform: uppercase;
    font-weight: normal;
    color: #333;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.scale_cnt p {
    color: #333;
    font-size: 90%;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}


.button_menu {
    background: url(../../Images/DevPriorities/Priorities/menu_icon.png)no-repeat center;
    border: 0;
    float: right;
    background-size: 100% 70%;
    width: 1.5%;
}

#option_menu {
    bottom: auto;
    position: absolute;
    border: 1px solid #000;
    background: #fff !important;
    right: 0;
    width: 40%;
    z-index: 2147483647;
    top: 0;
    display: none;
}

.producttitle {
    float: left;
    width: 70%;
}


#emptyfrloop {
    z-index: -1;
}


@media screen and (min-width: 1401px) and (max-width: 2000px) {

    .poemodule p {
        font-size: 130%;
    }

    #jssor_1 {
        height: 670px !important;
    }



    .content_progress, .currentPageJssor, .nextPageJssor, .leftPageJssor {
        height: 470px !important;
    }

    .jssorinner {
        height: 470px !important;
    }

    .jssora13l, .jssora13r {
        top: 50% !important;
    }
}


@media screen and (min-width: 2000px) and (max-width: 2400px) {

    .poemodule p {
        font-size: 150%;
    }

    h1 {
        font-size: 180%;
    }

    #jssor_1 {
        height: 900px !important;
    }


    .content_progress, .currentPageJssor, .nextPageJssor, .leftPageJssor {
        height: 560px !important;
    }

    .jssorinner {
        height: 560px !important;
    }

    .jssora13l, .jssora13r {
        top: 60% !important;
    }

    .button_menu {
        margin-top: 0.2%;
    }
}



@media screen and (min-width: 2500px) and (max-width: 2800px) {


    .poemodule p {
        font-size: 150%;
    }

    h1 {
        font-size: 180%;
    }

    #jssor_1 {
        height: 900px !important;
    }


    .content_progress, .currentPageJssor, .nextPageJssor, .leftPageJssor {
        height: 470px !important;
    }

    .jssorinner {
        height: 470px !important;
    }

    .jssora13l, .jssora13r {
        top: 50% !important;
    }

    .button_menu {
        margin-top: 0.2%;
        width: 1%;
    }
}


@media screen and (min-width: 2800px) and (max-width: 3500px) {

    #option_menu {
        zoom: 180%;
    }


    .poemodule p {
        font-size: 150%;
    }

    h1 {
        font-size: 180%;
    }

    #jssor_1 {
        height: 1250px !important;
    }


    .content_progress, .currentPageJssor, .nextPageJssor, .leftPageJssor {
        height: 620px !important;
    }

    .jssorinner {
        height: 620px !important;
    }

    .jssora13l, .jssora13r {
        top: 70% !important;
    }

    .button_menu {
        margin-top: 0.6%;
        width: 1%;
    }

    .customertiles {
        zoom: 150%;
    }

    .producttitle {
        zoom: 150%;
    }
}


@media screen and (min-width: 3500px) and (max-width: 5000px) {

    #option_menu {
        zoom: 180%;
    }


    .customertiles {
        zoom: 250%;
    }

    .producttitle {
        zoom: 250%;
    }

    .poemodule p {
        font-size: 150%;
    }

    h1 {
        font-size: 180%;
    }

    #jssor_1 {
        height: 1250px !important;
    }


    .content_progress, .currentPageJssor, .nextPageJssor, .leftPageJssor {
        height: 620px !important;
    }

    .jssorinner {
        height: 620px !important;
    }

    .jssora13l, .jssora13r {
        top: 70% !important;
    }

    .button_menu {
        margin-top: 0.6%;
        width: 1%;
    }

    .customertiles {
        zoom: 150%;
    }

    .producttitle {
        zoom: 150%;
    }
}
