@{
    ViewBag.Title = "Feedback1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slideout">
    <div class="slidecontent">
        Left Pannel

<div id="ajax-content"></div>

<div class="preload">
    <div id="content1">
    <h2>Feedback Introduction</h2>
    <ul>
    <li>Execution Practices that represent the core pillars  of the CA Lead role.</li>
<li>Key Actions associated with each of the  Execution Practices that represent specific 
activities that that can be taken to drive excellence.</li>
<li>Excellence Indicators (EI's) that represent  measureable results of successful completion of  key actions within each of the practice areas
</li>
    </ul>
    <div class="diagram">Place holder for 
feedback intro diagram</div>
    </div>
    
    <div id="content2">
<h2>Module intro Customer and Partner Centric Culture</h2>
    <p>
    Developing a Customer & Partner centric culture is key to success. The CA Lead ensures that customers and partners are at the center of the business of Corporate Accounts. The CA Lead becomes an advocate for the business needs of customers by making sure that the voice of customers and partners is included in all core processes such that these processes are not introspective and based on real world thinking .
    </p>
<p>The Customer & Partner centric culture actions include:<br />
Becoming an authority and advocate for the business needs and requirements of customers. Ensures that customers and partners are at the center of important Corporate Account processes. Ensures critical processes like Account & Territory planning are not introspective and based on real world thinking.
    </p>
    <div class="diagram">Place holder for 
feedback intro diagram</div>
    </div>
    
    <div id="content3">
    <h2>Traits</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum varius venenatis. Proin sit amet suscipit diam. Duis sapien augue, consectetur non condimentum in, consequat eu ante. Nullam euismod.</p>
    <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    </ul>
    </div>

    <div id="content4">tset4
    </div>

</div>
		<div id="primarynav">
              <ul id="navigation">
                  <li><a href="#" class="selected" rel="content1"><img src="../../Images/navigation1.png" alt="Nav1" /></a></li>
                  <li><a href="#" rel="content2"><img src="../../Images/navigation2.png" alt="Nav2" /></a></li>
                  <li><a href="#" rel="content3"><img src="../../Images/navigation3.png" alt="Nav3" /></a></li>
				  <li><a href="#" rel="content4"><img src="../../Images/navigation4.png" alt="Nav4" /></a></li>
              </ul>
          </div>
    </div>
    <div id="left">
    </div>
</div>
  <div class="slideout1">
    <div class="slidecontent1">
                                <h1>
                            Introduction</h1>                               
                            <ul><li><img src="../../Images/intro-pic.png" width="95" height="95" alt="Intro" /></li>
                            <li>
                            <div class="up-down">
<div class="slide default"><img src="../../Images/intro-pic.png" width="95" height="95" alt="Intro" /></div>
<div class="slide onhover">Jackson Robert</div>
</div>
                            </li>
                            <li><a href="#">
                                <img src="../../Images/intro-pic.png" width="95" height="95" alt="Intro" /></a></li>
                            <li><a href="#">
                                <img src="../../Images/intro-pic.png" width="95" height="95" alt="Intro" /></a></li>
                            <li><a href="#">
                                <img src="../../Images/intro-pic.png" width="95" height="95" alt="Intro" /></a></li>
                            <li><a href="#">
                                <img src="../../Images/intro-pic.png" width="95" height="95" alt="Intro" /></a></li>
                            <li><a href="#">
                                <img src="../../Images/intro-pic.png" width="95" height="95" alt="Intro" /></a></li>
                            <li><a href="#">
                                <img src="../../Images/intro-pic.png" width="95" height="95" alt="Intro" /></a></li>
                        </ul>
    </div>
    <div id="right">
    </div>
</div>

<div id="header">
<div class="main">
<div class="accordion">
<img src="../../Images/belogo.png" alt="Bexcellent" align="left" />
  <h3><img src="../../Images/down-arrow.png" alt="Menu" /></h3>
  <div class="pane">
  <ul id="indicator">
    <li class="current"><a onclick="myScroll.scrollToPage(0)" href="#"><img src="../../Images/menu1.png" alt="Tile" />Tile</a></li>
    <li><a onclick="myScroll.scrollToPage(1)" href="#"><img src="../../Images/menu2.png" alt="Tile" />Tile</a></li>
    <li><a onclick="myScroll.scrollToPage(2)" href="#"><img src="../../Images/menu3.png" alt="Tile" />Tile</a></li>
    <li><a onclick="myScroll.scrollToPage(3)" href="#"><img src="../../Images/menu4.png" alt="Tile" />Tile</a></li>
  </ul>
    </div>
</div>
<ul class="login">
    <li class="dropdown"><a href="#">Alan Dowzall</a><img src="../../Images/user.png" alt="User" align="right" />
        <ul>
            <li><a href="#">Forgot Password</a></li>
            <li><a href="#">Account Setting</a></li>
            <li><a href="#">Sign Out</a></li>        
			</ul>
    </li>
</ul>
</div>
</div>

<div id="wrapper">
  <div id="scroller">
    <ul>
      <li>
	    <div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
  <div id="tiles">
  <!--Page1-->
    <div class="active item">
	  <div class="breadcrumb">Home > Feedback</div>
	<div class="tileview">
	<h1>Feedback</h1>
<div class="tile">
                                    <ul>
                                        <li><a href="#" class="top">
                                            <h2>
                                                12</h2>
                                            Practice Area 1</a><a href="#"><h2>
                                                12</h2>
                                                Practice Area 1</a></li>
                                        <li><a href="#" class="top">
                                            <h2>
                                                06</h2>
                                            Practice Area 1</a><a href="#"><h2>
                                                12</h2>
                                                Practice Area 1</a></li>
                                    </ul>
                                </div>
                                <div class="tile">
                                    <ul>
                                        <li><a href="#" class="top">
                                            <h3><img src="../../Images/take.png" width="49" height="48" alt="Take" class="singlelineicon" /></h3>
                                            Practice Area 1</a><a href="#" class="nxtslide"><h3><img src="../../Images/take.png" width="49" height="48" alt="Take" class="singlelineicon"/></h3>
                                                Practice Area 1</a></li>
                                        <li><a href="#" class="top">
                                                <h3>
                                                <img src="../../Images/recieve.png" width="35" height="35" alt="Receive" class="singlelineicon"/></h3>
                                                Practice Area 2</a><a href="#">
                                                <h3>
                                                <img src="../../Images/recieve.png" width="35" height="35" alt="Receive" class="singlelineicon"/></h3>
                                                    Practice Area 2</a></li>
                                    </ul>
                                </div>
                                <div class="tile">
                                    <ul>
                                        <li><a href="#" class="top">
                                            <h3>
                                                <img src="../../Images/history.png" width="34" height="43" alt="History" class="singlelineicon"/></h3>
                                            Practice Area 1</a><a href="#"><h3>
                                                <img src="../../Images/history.png" width="34" height="43" alt="History" class="singlelineicon"/></h3>
                                                Practice Area 1</a></li>
                                       
                                            <li><a href="#" class="top">
                                                <h3>
                                                <img src="../../Images/status.png" width="32" height="32" alt="Status" class="singlelineicon"/></h3>
                                                Practice Area 2</a><a href="#"><h3>
                                                <img src="../../Images/status.png" width="32" height="32" alt="Status" class="singlelineicon"/></h3>
                                                    Practice Area 2</a></li>
                                    </ul>
                                </div>
                               </div>
	<div id="slidediv">
		<div class="tileview">
	<h1>Your Poe's</h1>
	<ul>
		<li><a href="#"><img src="../../Images/ca.png" alt="CA Lead Poe" class="singlelineicon"/>CA Lead Poe</a>
	<a href="#"><img src="../../Images/cam.png" alt="CAM Sales Manager Poe" class="doublelineicon"/>CAM Sales Manager Poe</a>
	<a href="#"><img src="../../Images/ctm.png" alt="CTM Sales Manager Poe" class="doublelineicon"/>CTM Sales Manager Poe</a>
	<a href="#"><img src="../../Images/cam.png" alt="CAM Account Manager" class="doublelineicon"/>CAM Account Manager</a>
	<a href="#"><img src="../../Images/ctm1.png" alt="CTM Sales Manager Poe" class="doublelineicon"/>CTM Sales Manager Poe</a>
	</li>
	</ul>
	</div>
	
	<div class="tileview">
	<h1>Take Feedback</h1>
		<ol class="carousel-linked-nav pagination">
		<li><a href="#3" class="tileviewmedium"><img src="../../Images/quickview.png" alt="Quick View" class="largeicon" />Quick View</a></li>
	<li><a href="#2" class="tileviewmedium"><img src="../../Images/detailedview.png" alt="Detaile View" class="largeicon" />Detailed View</a></li>
	</ol>
	</div></div>
		  </div>
  <!--Page2-->
  
    <div class="item">
	  <div class="breadcrumb">Home > Feedback > Take Feedback</div>

	<div class="largetileview">
	<h1>Take Self Feedback</h1>
	<ul>
	<li><a href="#" class="spl">Customer and Partner <br />Centric Culture </a>
	<a href="#">Business Planning</a>
	<a href="#">Business Management</a>
	<a href="#" class="spl">Orchestration and <br/>Collaboration</a>
	<a href="#" class="spl">Organizational <br/>Development</a>
	</li>
	</ul>
	</div>	
	<div class="contentholder">
	Question 1/18 | Time taken - 5 minutes
	<div class="clr"></div>
	<div class="qn">1</div>
	<h2>CA Lead achieves YoY increases in customer 
and partner satisfaction.</h2>
	<div class="clr"></div>
	<div>slider</div>
	<h3>Frequency Definitions</h3>

<h4>Rarely</h4>
<p>The Excellence Indicator is seldom observed or produced as a measure of success (Less than 20% of the time)</p>

<h4>In-Consistently</h4>
<p>The Excellence Indicator is only observed or produced some of the time (less than 60% of the time)</p>

<h4>Frequently</h4>
<p>The Excellence Indicator is consistently observed or produced (less than 90% of the time)</p>

<h4>Always</h4>
<p>The Excellence Indicator is always observed or produced as a measure of success</p>

	</div>
		  </div>
  <!--Page3
    <div class="item">
twst2 </div>-->
</div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a></div>
	  </li>
      <li>Page2</li>
      <li>Page3</li>
      <li>Page4</li>
    </ul>
  </div>
</div>    
<div id="footer">
<div class="main">
<div class="copyright">(c) 2012 bexcellent.com</div>
<div class="bukatutup">Menu</div>
<div id="target">
<ul>
<li>Comparision View</li>
<li>Comparision View</li>
<li>Comparision View</li>
</ul>
</div>
</div>
</div>