@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Styles/Pipe9FeedbackStyles/Feedback/feedback-landing.css" rel="stylesheet" />
<div class="p9f_breadcrumb">
    <ul>
        <li><a href="#">Home</a></li>
        <li>&nbsp;>&nbsp;</li>
        <li><a href="#">Feedback</a></li>
        <li>&nbsp;>&nbsp;</li>
        <li><a href="#">Self-Feedback</a></li>
    </ul>

</div>


<div class="container">
    <div class="leftmenu_tiles">
        <h2>Feedback</h2>
        <ul>
            <li class="self_menutile">
                <p>Self-Feedback</p>
            </li>
            <li class="team_menutile">
                <p>Team-Feedback</p>
            </li>
            <li class="history_menutile big_tile">
                <p>Completion History</p>
            </li>

        </ul>
    </div>
    <div class="poename_tiles">
        <h2>Activate A Profile</h2>
        <ul>
            <li>
                <p>Solution Sales Specialist</p>
            </li>
            <li>
                <p>Specialist Sales Manager</p>
            </li>
            <li class="dummy_tile"></li>
            <li class="dummy_tile"></li>

        </ul>
    </div>
    <div class="landing_mainmenu">
        <h2>Team Feedback</h2>
        <div class="main_tilebox">
            <div class="sleftile_one"></div>
            <div class="sleftile_two"></div>
            <div class="teamtile_one"></div>
            <div class="teamtile_two"></div>

        </div>

    </div>

</div>
